
<div class="container">  
  <form >  
    <div class="text-center padding"><h2> Survey</h2></div>  
      <div class="form-group row">  
                 
        <div class="form-row ">  
          <div class="form-group col-md-6">  
            <label for="Name" class="form-label col-lg-12">Name</label>  
            <input type="text" class="form-control col-lg-12" id="Name"  placeholder="Name" autocomplete>  
          </div>  
          <div class="form-group col-md-6"></div>
          <div class="form-group col-md-6">  
            <label for="Number" class="form-label col-lg-12">Contact Number</label>  
            <input type="number" class="form-control col-lg-12" id="Number" placeholder="Phone Number">  
          </div>  
          <div class="form-group col-md-6">  
            <label for="Email" class="form-label col-lg-12">Email</label>  
            <input type="text" class="form-control col-lg-12" id="email" placeholder="Email@example.com">  
          </div>  
          <div class="form-group col-md-6">  
            <label for="Org" class="form-label col-lg-12">Organisation</label>  
            <input type="text" class="form-control col-lg-12" id="org" placeholder="Organisation Name">  
          </div>  
    
          <div class="form-group col-md-6">  
            <label for="Respon" class="form-label col-lg-12">Responsibility</label>  
            <input type="text" class="form-control col-lg-12" id="Respon" placeholder="Responsibility">  
          </div>
          
     
          <div class="form-group col-md-6">  
            <button type="submit" class=" btn btn-primary padding-top">Next</button>   
       
          </div>  
        </div>
      </div>
    </form>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>