<div class="container">
    <div class="row" > 
        <div class="col" *ngFor="let team of teams">
            <div class="card">
                <button class="card-body btn" (click)="teamPlayers(team)">
                    {{team}}
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <strong *ngIf="teamplayers.length > 0">Team: {{teamplayers[0].label}}</strong>
            <table class="table table-sm table-hover" *ngIf="teamplayers.length > 0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of teamplayers">
                        <td>{{player.name}}</td>
                        <td>{{player.role}}</td>
                        <td>{{player.price | inr}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <div *ngIf="pieChart.dataTable">
                <google-chart [data]="pieChart" (chartSelect)="select($event)"></google-chart>
            </div>
        </div>
        <div class="col">
            <strong  *ngIf="teamroleplayers.length > 0" >{{teamroleplayers[0].label}} {{teamroleplayers[0].role}}s </strong>
            <table class="table table-sm table-hover" *ngIf="teamroleplayers.length > 0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of teamroleplayers">
                        <td>{{player.name}}</td>
                        <td>{{player.role}}</td>
                        <td>{{player.price | inr}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>